@charset "utf-8";
/* CSS Document */

#widecolumn{
	background-color: darksalmon;
	width: 908px;
	height: 67px;
	margin-bottom: 10px;

}

#widecolumn2{
	background-color: chocolate;
	width: 908px;
	padding-top:30px;

}

#widecolumn3{
	background-color:brown;
	width: 908px;
	height: 67px;
	margin-top: 400px;
	
}

.column{
	width: 207px;
	height: 382px;
	background-color:darkgoldenrod;
	float:left;
	margin: 10px;
}