@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{
	background-color:darkorange;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
font-size: 20px;
}

header{
	background-color:darkgreen;
	text-align: center;
	padding-bottom:10px;
}

footer{
	background-color:darkgreen;
	text-align: center;
	padding-bottom: 200px;
}

h1{
	color:darkorange;
}

h2{
	color:white;
	text-align: center;
}

p{
	color:white;
	text-align: center;
	padding-bottom: 20px;
}
li {
	list-style-type: none;
	display: inline;
	margin-right: 250px;
	color: white;
}

a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:darkolivegreen;
}

a:hover{
	color:yellowgreen;
	text-decoration: underline
}

a:active{
	color:saddlebrown;
}

img{
	position: static;
	margin:0;
	padding: 0;
	align-content: center;
}

.box1{
	background-color: black;
	position: static;
	margin: 20px;
	margin-left: 700px;
	margin-right: 700px;
}

.box2{
	background-color: black;
	position: static;
	margin: 20px;
	margin-left: 700px;
	margin-right: 700px;
}

.box3{
	background-color: black;
	position: static;
	margin: 20px;
	margin-left: 700px;
	margin-right: 700px;
}



body2{
	background-color:darkorange;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
font-size: 20px;
}
#widecolumn{
	background-color: black;
	padding-top: 10px;
}
#logo2{
	text-align: center;
}



body3{
	background-color:darkorange;
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
font-size: 20px;
}



body4{
	
}
#happy{
	text-align: center;
}
#deal{
	text-align: center;
}