@charset "UTF-8";
/* CSS Document */

body {
	background-color:aquamarine;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin-left: 10%;
	margin-right: 5%;
	font-size: 20px;
	

}header {
	background-color: darkgreen;
	text-align: center;
	padding-bottom:20px;
}

li {
	list-style-type: none;
	display: inline;
	margin-right: 15px;
}

h2,h3{
	color: darkred;
}
.posttime {
	color: blueviolet;
	font-size:0.7em; 
}
dt,dd {
	margin-left: 10%;
}
dfn,i {
	
}
cite {
	
}